@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

:root {
    --black: #000;
    --blue: #33A8DB;
    --dark-gray: #202020;
    --gray: #4d4d4d;
    --light-gray: #acacac;
    --white: #ffffff;
    --teal: #33a8db80;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    
    color: var(--white);
}

.sr-only {
    position: absolute;
    left: -999em;
}

button {
    min-height: 3.5rem;
    padding: 10px;
    margin: 5px;
    
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 10;
    border-image-source: linear-gradient(#3ba1cd, #1572b7);
    
    background-color: transparent;
    
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

button:hover,
button:focus {
    outline: none;
    background-color: var(--blue);

    color: var(--dark-gray);
}

.banner {
    width: 100vw;
    min-height: 180px;
    display: flex;
    padding: 60px 0 31px;
    margin-bottom: 24px;
    gap: 1rem;

    background-size: cover;

    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 10;
    border-image-source: linear-gradient(#3ba1cd, #1572b7);
    border-bottom: 2px solid;

    color: var(--white);
    text-align: center;
}

.banner__logo,
.banner__logo .banner__link {
    margin-bottom: 30px;

    font-size: 1rem;
    font-weight: 900;
    text-shadow: var(--gray) 3px 2px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.banner__logo .banner__link {
    color: var(--white);
    text-decoration: none;
}

.banner__logo .banner__link:hover {
    background-color: transparent;

    color: var(--white);
}

.banner__menu-dropdown {
    list-style: none;
    text-align: left;
    gap: 0.25rem;
}

.banner__menu-item {
    margin: 0.5rem 0;
    padding: 0.25rem;
}

.banner__link {
    padding: 0.25rem;

    border: 2px solid transparent;

    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.banner__link:visited { color: var(--white);}

.banner__link:hover,
.banner__link:focus {
    outline: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 10;
    border-image-source: linear-gradient(#3ba1cd, #1572b7);
    border-radius: 2rem;
}

.banner__menu-toggle { display: none; }

.content__link, .content__link:visited {
    color: var(--blue);
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}



.content__link:hover,
.content__link:focus {
    outline: none;

}

.social-media {
    width: 100%;
    margin-top: 160px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    text-align: center;

    border-top: 2px solid;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 10;
    border-image-source: linear-gradient(#3ba1cd, #1572b7);

}    

.social-media__message{
    color: var(--white);
}


.social-media__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1rem;
    text-align: center;
}

.social-media__link {
    margin: 1rem;
}

.social-media__link:visited,
.fa-envelope,
.fa-linkedin,
.fa-github-alt {
    color: var(--white);

}

@media (max-width: 863px) {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    
    .banner__logo {
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;
    }
    
    .banner__logo .banner__link{
        margin: auto 0;
    }
    
    .banner__menu-label {
        position: relative;
        margin: auto 20px;
    
        font-size: 1.125rem;
    
        cursor: pointer;
    }
    
    .banner__menu-dropdown {
        visibility: hidden;
        position: absolute;
        max-height: 0;
        width: 0;
        margin: 0 1rem;
        padding: 0.625rem;
        overflow: hidden;    
        box-shadow: 0.1875rem 0.1875rem 0.1875rem rgb(14, 14, 14, 80);   
        
        border: 1px solid var(--blue);
        border-radius: 0.3125rem;
    
        background-color: var(--not-black);
        
        color: var(--smoke-white);
    
        list-style: none; 
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 999;
    }
    
    .banner__menu-toggle:checked + .banner__menu-label + .banner__menu-dropdown {
        right: 0;
        width: max-content;
        max-height: 25rem;
        visibility: visible;
    
        border: 2px solid var(--blue);
    
        background-color: var(--black);
    }   
}

@media (min-width: 864px) {
    .banner {
        flex-direction: column;
        align-items: center;
        padding: 60px 0 31px;
        margin-bottom: 24px;
    }
    
    .banner__menu-dropdown {
        display: flex;
    }
    
    .banner__menu-label {
        display: none;
    }
}